<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit product</title>
</head>
<body>
    <div>
        <h2>Edit Product</h2>
    <form action="/update" method="POST">
        <input type="hidden" name="pid" value="{{model._id}}">
        Product Name<input type="text" name="productName" value="{{model.productName}}">
        <br>
        Price <input type="text" name="price" value="{{model.price}}"> 
        <br>
        Color <input type="text" name="color" value="{{model.color}}">
        <div class="container mt-3">
        <form action="/action_page.php">
        <select name="cars" class="custom-select mb-3">
        <option selected>Custom Select Menu</option>
        <option value="volvo">Volvo</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div> 
        <br>
        <input type="submit" value="Update">
    </form>
    </div>
</body>
</html>